/* Vars:
   ========================================================================== */

// Size

$mainFontFamily          :'Montserrat', sans-serif;
$backgroundColor         : floralwhite;
$fontColor               : rgb(44, 44, 44);
$fontSize                : 20px;

$desktopWidth            : 1280px;
$smDesktopWidth          : 1024px;
$tableWidth              : 768px;
$smTableWidth            : 640px;
$phoneWidth              : 480px;
$smPhoneWidth            : 320px;

